.flex-container {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  top: 17%;
}

.groups {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form {
  margin: 25px;
}

.b-login {
  width: 100px;
  height: 40px;
  font-size: 1.25em;
}

.b-signup {
  width: 100px;
  height: 40px;
  font-size: 1.25em;
}

.b-researcher {
  width: auto;
  height: 40px;
  font-size: 1.25em;
}