.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.zone {
    background-size: 300px 300px;
}

.line {
    height: 100px;
}

.cell {
    size: 100px;
}

.X {
    background-image: url(../icons/X.png);
    background-size: 100px;
    size: 100px;
}

.O {
    background-image: url(../icons/O.png);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}