.object {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.description {
    width: auto;
    margin-bottom: 3px;
    font-size: 1.3em;
}

.wrong {
    width: auto;
    margin-left: 0;
}

.button {
    margin-left: 0;
    font-size: 1.4em;
    outline: none;
}

.or {
    margin-left: 0;
    font-size: 1.5em;
}

.buttonSignUp {
    margin-left: 0;
    font-size: 1.4em;
}

.buttonSignUp:active {

}
