body {
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  /*padding: 5%;*/
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.description {
  width: 100px;
  font-size: 1.5em;
}

.action {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.object {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  font-family: Cambria serif;
  color: #ddd;
}

input:-webkit-autofill {
  background-color: #1b1c1e;
  color: #ddd;
}
input:autofill {
  background-color: #1b1c1e;
  color: #ddd;
}

input {
  padding-left: 5px;
  width: 280px;
  height: 28px;
  border: 2px solid #176cc1;
  border-radius: 8px;
  color: #ddd;
  font-size: 1.15em;
  transition: 0.5s;
  outline: none;
  background-color: #1b1c1e;
}

::placeholder {
  color: #bbb;
  opacity: 1;
  font-style: italic;
}

.before-wrong {
  width: 100px;
}

.wrong {
  width: 176px;
  color: #b40e0e;
  font-size: 16px;
  margin-left: 115px;
}

.button {
  width: 96px;
  height: 1.5em;
  margin-left: 195px;
  border: 2px solid #176cc1;
  border-radius: 8px;
  background-color: #1b1c1e;
  font-size: 1.5em;
  font-family: Cambria serif;
  color: #ddd;
  transition: 0.3s;
}

.button:hover {
  background-image: none;
  background-color: #084349;
  color: #fff;
  border-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.buttonSignUp {
  width: 96px;
  height: 1.5em;
  margin-left: 195px;
  border: 2px solid #297e8f;
  border-radius: 8px;
  background-color: #1b1c1e;
  font-size: 1.5em;
  font-family: Cambria serif;
  color: #ddd;
  transition: 0.3s;
}

.buttonSignUp:hover {
  background-image: none;
  border-radius: 8px;
  background-color: #1e5878;
  color: #fff;
  border-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.or {
  margin-left: 271px;
  font-size: 1.5em;
}