html {
    -webkit-tap-highlight-color: transparent;
}

.menu {
    background-color: inherit;
}

div,
h1,
p,
a,
form,
button {
    outline: none !important;
}

.top-nav {
    background-color: #1b1c1e;
}