html {
    -webkit-tap-highlight-color: transparent;
    outline-style: none;
}

.menu {
    background-color: inherit;
}

button,
button:focus,
button:active {
    outline: none;
}

.top-nav {
    background-color: #1b1c1e;
}