.outer {
  margin: 12vh 30vw 12vh 25vw;
  padding: 5%;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.description {
  width: 165px;
  font-size: 1.5em;
  display: flex;
  margin-right: 10px;
}

.object {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  font-family: Cambria serif;
  color: #ddd;
}

input {
  padding-left: 5px;
  width: 280px;
  height: 28px;
  border: 2px solid #176cc1;
  border-radius: 8px;
  color: #ddd;
  background-image: url(../icons/back.png);
  background-repeat: repeat;
  background-size: 1px 1px;
  font-size: 1.15em;
  transition: 0.5s;
  outline: none;
}

::placeholder {
  color: #bbb;
  opacity: 1;
  font-style: italic;
}

.button {
  width: 96px;
  border: 2px solid #297e8f;
  border-radius: 8px;
  background-color: #1e5878;
  background-image: url(../icons/back.png);
  background-repeat: repeat;
  background-size: 1px 1px;
  font-size: 1.5em;
  font-family: Cambria serif;
  color: #ddd;
  transition: 0.3s;
}

.button:hover {
  background-image: none;
  color: #fff;
  border-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
