.object {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.description {
    width: auto;
    margin-bottom: 3px;
    font-size: 1.4em;
}

.wrong {
    margin-left: 0;
}

.button {
    margin-left: 0;
    font-size: 1.4em;
}

#outer-span {
    width: auto;
}

#inner-span {
    margin-left: 0;
}